@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Поробнее:</strong>   
    <a href="https://github.com/Olgasn/ToplivoCodeFirst"> Cтраница на GitHub</a><br />
</address>